@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');

body {
    font-family: 'Bellota Text', cursive
}

h1, h2, h3, h4, h5 {
    font-family: 'Ruda', sans-serif;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-link {
    position: relative;
    color: darkred;
    text-decoration: none;
}

